* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-darkblue: darkblue;
}
nav {
    background-color: var(--color-darkblue);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--color-darkblue);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20em;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
/*aside h2 {
    position: relative;
    top: 110px;
    left: 0;
}*/
footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: lightskyblue;
    color: white;
}


/* TEMP COMMENT

primary-color: #91A03A (green moss)
secondary-color: #5B3D1E (kobicha - brown)
accent1-color: #1DA595 (persian green - aqua)
accent2-color: #D07B24 (ochre - brown)

extra-color: #F7CA39
URL: https://coolors.co/91a03a-1da595-f7ca39-5b3d1e-d07b24


heading-font: Rubik Dirt
text-font: Mali

*/